.task {
  width: 60vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: lightskyblue;
}

.addTask{
  margin: 50px;
}

button, input{
  padding: 15px;
}

